<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Time to start a workout!
      </mat-card-title>
      <mat-card-content>
        <ng-select [items]="exercises"
        bindLabel="name"
        bindValue="id"
        name="exercise"
        autofocus
        required
        appendTo="body"
        placeholder="Select exercise"
        [(ngModel)]="selectedExercise">
        </ng-select>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary"
        mat-button [disabled]="f.invalid">
          <mat-icon>timer</mat-icon> Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
